{{if and (not .HideRepoInfo) (not .IsBlame)}}
<div class="ui segments repository-summary{{if and (.Permission.CanRead $.UnitTypeCode) (not .IsEmptyRepo) .LanguageStats}} repository-summary-language-stats{{end}} gt-mt-2 gt-mb-0">

	{{if and (.Permission.CanRead $.UnitTypeCode) (not .IsEmptyRepo) .LanguageStats}}
	<div class="ui segment sub-menu language-stats-details gt-hidden">
		<div class="ui horizontal center link list">
			{{range .LanguageStats}}
			<div class="item gt-df gt-ac gt-jc">
				<i class="color-icon gt-mr-3" style="background-color: {{.Color}}"></i>
				<span class="gt-bold gt-mr-3">
					{{if eq .Language "other"}}
						{{$.locale.Tr "repo.language_other"}}
					{{else}}
						{{.Language}}
					{{end}}
				</span>
				{{.Percentage}}%
			</div>
			{{end}}
		</div>
	</div>
	<a class="ui segment language-stats">
		{{range .LanguageStats}}
		<div class="bar tooltip" style="width: {{.Percentage}}%; background-color: {{.Color}}" data-placement="top" data-content={{.Language}}>&nbsp;</div>
		{{end}}
	</a>
	{{end}}
</div>
{{end}}
